body {
    background-color: rgba(255, 255, 255, 0.5);
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Background color for the body */
    margin: 0;
    padding: 0;
    bac
}

header {
    
    background-color: rgba(0,0,0,0);
    background;:
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
.profile-image {
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 20px; /* Adjust margin as needed */
    width: 120px; /* Adjust width as needed */
    height: 120px; /* Adjust height as needed */
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fffdfd; /* Add a border if desired */
}


section {
    background-color: rgba(0,0,0,0);
    padding: auto;   max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}
a{
    color: white;
    text-decoration: none;
    animation: linear cubic-bezier(0.075, 0.82, 0.165, 1) timing-function delay iteration-count direction fill-mode;
    
}
h1{
    font-family:'Times New Roman', Times, serif;
    font-display:calc(max-width);
    font-weight: 600;
    font-style:oblique;
    color: rgba(0, 0, 0, 0.629);
}    


 h2, h3 {
    color:rgb(78, 86, 82);
    text-align: center;
    font-family: ;
    background-color: transparent;
}

.icon {
    font-size: 24px;
    margin-right: 5px;
}

.social-links a {
   
    color:#f4f4f4;
    text-decoration: none;
    margin-right: 15px;
}

.social-links i:hover {
    color: #007bff;
}
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body  {
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
  background-size:cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}



.center
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}
.center h1{
  text-align:center;
  color:white;
  font-family: 'Source Code Pro', monospace;
  text-transform:uppercase;
